.allproduct{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 20px;
    position: absolute;
    top: 25%;
    left: 30%;
}
.branditems{
    position: relative;
    top: 30px;
}
.menu{
    position: relative;
    bottom: 16px;
}
.text{
    position: relative;
    left: 30px;
    top: 10px;
    color: gray;
}